.form-input {
  margin-bottom: 1rem;
  padding-left: 1rem;
  label {
    display: block;
  }
  input,
  textarea,
  select {
    border: 1px solid $cyan;
    border-radius: 0.5rem;
    padding: 0.7rem;
    &:focus {
      border-color: transparentize($color: $cyan, $amount: 0.3);
      outline: none;
      box-shadow: 0 0 0 0.2rem transparentize($color: $cyan, $amount: 0.75);
    }
  }
}
.lg-input {
  width: 400px;
  @media screen and (max-width: 575.98px) {
    width: 100%;
  }
}
