header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }
  .left-header {
    h1 {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
    small {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
  .center-header {
    @media screen and(max-width: 767.98px) {
      display: none;
    }
    h2 {
      text-transform: capitalize;
      margin-bottom: 0;
      margin-right: 2rem;
    }
    .custom-gradient-switch {
      position: relative;
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      background: $mutedWhite;
      border: 1px solid $cyanWhite;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      overflow: hidden;
      cursor: pointer;
      &::before {
        content: '';
        width: 60%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2rem;
        transition: 0.1s;
        background-image: linear-gradient(
          to left,
          #e75852,
          #e23d6e,
          #cd308d,
          #a738ab,
          #6548c2
        );
      }
      &.active {
        &::before {
          left: 40%;
        }
      }
      .line {
        position: relative;
        z-index: 11;
        width: 1px;
        background: $white;
        &:nth-child(even) {
          height: 30%;
        }
        &:nth-child(odd) {
          height: 50%;
        }
      }
    }
  }
  .right-header {
    display: flex;
    align-items: center;
    position: relative;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      @media screen and (max-width: 991.98px) {
        padding-right: 1rem;
        flex-direction: column;
        position: absolute;
        right: 3.5rem;
        top: 0;
        z-index: 111;
        width: 12rem;
      }
      li {
        margin-right: 1.5rem;
        @media screen and (max-width: 991.98px) {
          padding: 0.5rem 1rem;
          margin: 0 0 0 auto;
          border: 1px solid $cyanWhite !important;
          &:first-child {
            margin: 0 0 0 auto;
          }
        }
        a {
          text-decoration: none;
        }
      }
      li.circle {
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $cyan;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
        @media screen and (max-width: 991.98px) {
          border: none;
          border-radius: 0;
          display: inherit;
          box-shadow: none;
        }
      }
      li:not(.menu) {
        @media screen and (max-width: 991.98px) {
          display: none;
        }
        &.active {
          display: initial;
          background: $white;
          width: 100%;
        }
      }
      li.menu {
        display: none;
        @media screen and (max-width: 991.98px) {
          display: flex;
          margin-top: 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          border: 1px solid $cyan;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
        }
      }
    }
    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.search-header {
  padding: 0 2rem 1rem 2rem;
  position: relative;
  i {
    position: absolute;
    left: 3.8rem;
    top: 0.9rem;
  }
  button {
    position: absolute;
    right: 2.5rem;
    top: 0.2rem;
    @media screen and (max-width: 767.98px) {
      right: 1.5rem;
    }
    color: $white;
    padding: 0.375rem 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to left,
      #e75852,
      #e23d6e,
      #cd308d,
      #a738ab,
      #6548c2
    );
  }
  .search-input {
    width: 100%;
    overflow: hidden;
    border-radius: 2rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.095) !important;
  }
  input {
    width: 100%;
    padding: 0.4rem 5rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
  }
  @media screen and (max-width: 767.98px) {
    padding: 0 1rem 1rem 1rem;
  }
}
