header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }
  .left-header {
    h1 {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      @media screen and(max-width: 575.98px) {
        font-size: 1.8rem;
      }
      @media screen and(max-width: 400px) {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
    }
    small {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      @media screen and(max-width: 575.98px) {
        font-size: 0.8rem;
      }
      @media screen and(max-width: 400px) {
        font-size: 0.6rem;
      }
    }
  }
  .center-header {
    @media screen and(max-width: 767.98px) {
      display: none;
    }
    h2 {
      text-transform: capitalize;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
  .right-header {
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
      @media screen and(max-width: 400px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
.secondary-header {
  background: $darkBg;
  color: $white;
}
.search-bar {
  padding: 1rem 2rem;
  position: relative;
  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }
  i {
    position: absolute;
    left: 3rem;
    top: 1.6rem;
    font-size: 1.3rem;
    @media screen and (max-width: 767.98px) {
      left: 2rem;
    }
  }
  input {
    width: 100%;
    background: $darkInput;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
  }
}
