.mes-formations-section {
  & > ul:not(.cus-pagination) {
    list-style: none;
    & > li {
      display: flex;
      margin: 2rem 0;
      border-radius: 1rem;
      @media screen and(max-width: 767.98px) {
        flex-direction: column;
      }
      .left-mes {
        position: relative;
        border-radius: 1rem;
        margin-right: 1rem;
        width: 20rem;
        @media screen and(max-width: 1080px) {
          width: 16rem;
          margin-right: 0;
        }
        @media screen and(max-width: 991.98px) {
          margin-right: 1rem;
          width: 20rem !important;
        }
        @media screen and(max-width: 767.98px) {
          width: 100% !important;
          margin-bottom: 2rem;
        }
        .cart {
          background: $white;
          position: absolute;
          left: 0.5rem;
          top: 0.5rem;
          border-radius: 0.5rem;
          font-size: 70%;
          display: flex;
          align-items: center;
          padding: 0.3rem;
          img {
            width: 2rem;
            height: 1.5rem;
            object-fit: cover;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
          }
          & > div {
            line-height: 1;
            span {
              font-size: 65%;
              color: #999999;
            }
          }
        }
        .live {
          border: 2px solid $red;
          color: $red;
          padding: 0 0.5rem;
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
          font-size: 80%;
        }
        & > a > img {
          width: 100%;
          height: 11rem;
          object-fit: cover;
          border-radius: 1rem;
          @media screen and(max-width: 767.98px) {
            height: 20rem;
          }
          @media screen and(max-width: 575.98px) {
            height: 15rem;
          }
        }
        & > i {
          position: absolute;
          top: 25%;
          font-size: 1.3rem;
          cursor: pointer;
          &.fa-chevron-left {
            left: 0.5rem;
          }
          &.fa-chevron-right {
            right: 0.5rem;
          }
        }
        h5 {
          margin-top: 1rem;
        }
        h5,
        p {
          padding: 0 1rem;
        }
        p {
          font-size: 0.9rem;
        }
        .left-mes-footer {
          border-top: 1px solid $yellow;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.2rem 1rem;
          & > div {
            width: 50%;
          }
          strong {
            text-align: center;
            width: 50%;
            border-left: 2px solid $yellow;
            font-size: 1.7rem;
          }
        }
      }
      .right-mes {
        margin-left: 1rem;
        position: relative;
        width: 100% !important;
        @media screen and(max-width: 767.98px) {
          margin-left: 0;
        }
        & > ul {
          position: absolute;
          right: 1rem;
          top: 1rem;
          background: $white;
          width: 150px;
          border-radius: 0.5rem;
          overflow: hidden;
          transition: 0.2s;
          transform-origin: top right;
          transform: scale(0);
          &.active {
            transform: scale(1);
          }
          li {
            a {
              padding: 0.3rem 0.6rem;
              font-size: 90%;
              text-decoration: none;
              display: block;
              &:hover {
                background: $cyanWhite;
              }
            }
          }
        }
        h5 {
          margin-bottom: 2rem;
          font-weight: 700;
        }
        i {
          margin-top: 0.25rem;
          cursor: pointer;
        }
        .noter {
          i {
            color: $yellow;
          }
        }
        .comment {
          input {
            border: 2px solid $cyanWhite;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
            &:focus {
              border-color: transparentize($color: $cyan, $amount: 0.3);
              outline: none;
              box-shadow: 0 0 0 0.2rem
                transparentize($color: $cyan, $amount: 0.75);
            }
          }
        }
        .socials {
          margin-top: 3rem;
          h5 {
            margin-bottom: 0.7rem;
          }
          ul {
            list-style: none;
            display: flex;
            li {
              margin-right: 1.5rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}
