.mes-exercices-section {
  padding: 1rem;
  @media screen and(max-width: 575.98px) {
    padding: 0;
  }
  .mes-exercices-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    h5 {
      font-size: 1.5rem;
      @media screen and(max-width: 575.98px) {
        font-size: 1.2rem;
      }
      &:first-child {
        margin-right: 0.5rem;
      }
      &:last-child {
        margin-right: 0.5rem;
      }
    }
  }
  .mes-exercices-filter {
    display: flex;
    flex-wrap: wrap;
    select {
      background: $darkMain;
      border: none;
      outline: none;
      color: $cyanWhite;
      padding: 0.4rem 0.8rem;
      border-radius: 1rem;
    }
    span {
      position: relative;
      margin: 0.5rem 0;
      margin-right: 1rem;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        background: $darkSecondary;
        height: 100%;
        top: 0;
        right: 1.2rem;
      }
    }
  }
  .mes-exercise-table {
    width: 100%;
    tr {
      td {
        padding: 0.5rem 1rem;
        & > span {
          position: relative;
          margin: 1rem 0;
          display: inline-block;
          width: 100%;
          font-size: 0.85rem;
          h5 {
            font-size: 1rem;
          }
          img {
            width: 9rem;
            height: 5rem;
            object-fit: cover;
            border-radius: 1rem;
            @media screen and (max-width: 480px) {
              width: 4rem;
              height: 4rem;
            }
          }
          ul {
            position: absolute;
            min-width: 150px;
            margin-bottom: 0;
            background: $darkMain;
            right: 150%;
            top: -1.5rem;
            list-style: none;
            border-radius: 0.5rem;
            overflow: hidden;
            transform: scale(0);
            transform-origin: right;
            transition: 0.2s;
            &.active {
              transform: scale(1);
            }
            li {
              a {
                display: block;
                color: $cyanWhite;
                padding: 0.3rem 0.6rem;
                font-size: 90%;
                text-decoration: none;
                &:hover {
                  background: $darkSecondary;
                }
              }
            }
          }
          .dynamic-inputer {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              background: $white;
              color: $darkMain;
              padding: 0.5rem;
              border-radius: 0.3rem;
              cursor: pointer;
            }
          }
          .form-input {
            margin: 0 0.5rem;
            padding-left: 0;
            input[type='number'] {
              appearance: none;
              @media screen and(max-width: 575.98px) {
                width: 4rem;
              }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
            input,
            select,
            textarea {
              background: $darkSecondary;
              color: $white;
              text-align: center;
              background: $darkSecondary;
              color: $cyanWhite;
              width: 100%;
              border: 1px solid $cyanWhite;
              max-width: 100px;
              padding: 0.4rem 0.7rem;
              &:focus {
                border: 1px solid $inputBorder;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  .mes-exercices-timeline {
    position: relative;
    margin: 1rem 0 2rem 0;
    .line {
      border: 1px dashed $cyanWhite;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      li {
        position: relative;
        width: 3rem;
        height: 3rem;
        background: $darkMain;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and(max-width: 575.98px) {
          width: 2rem;
          height: 2rem;
        }
        &.active {
          background: $cyanWhite;
          color: $darkMain;
          font-weight: 700;
        }
      }
    }
  }
  form {
    .profile-section .multi-photos {
      border: 2px solid $darkMain;
    }
    .form-input {
      padding-left: 0 !important;
      input,
      select,
      textarea {
        background: $darkSecondary;
        color: $cyanWhite;
        width: 100%;
        border: 1px solid $darkMain;
        &:focus {
          border: 1px solid $inputBorder;
          box-shadow: none;
        }
      }
    }
    .input-switch-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and(max-width: 575.98px) {
        flex-direction: column;
      }
    }
    .input-switch {
      margin-left: 1rem;
      cursor: pointer;
      width: 15rem;
      height: 3rem;
      background: $darkMain;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
      @media screen and(max-width: 575.98px) {
        margin-left: 0;
        margin-top: 1rem;
      }
      &::before {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2rem;
        transition: 0.1s;
        background: $green;
      }
      &.active {
        &::before {
          left: 50%;
        }
      }
      span {
        position: relative;
        z-index: 11;
        font-size: 0.9rem;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}
