.profile-section {
  padding-bottom: 1rem;
  h4 {
    margin-bottom: 0;
    .custom-control-input:focus:not(:checked) ~ .custom-control-label {
      &::before {
        border-color: transparentize($color: $green, $amount: 0.3);
        box-shadow: 0 0 0 0.2rem transparentize($color: $green, $amount: 0.75);
      }
    }
    .custom-control-input:checked ~ .custom-control-label {
      &::before {
        background-color: $green;
        border-color: transparentize($color: $green, $amount: 0.3);
        box-shadow: 0 0 0 0.2rem transparentize($color: $green, $amount: 0.75);
      }
    }
  }
  form {
    .image-upload {
      display: flex;
      margin-bottom: 1.5rem;
      img {
        margin-right: 1.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
      & > div > label {
        border: 2px solid $cyanWhite;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        cursor: pointer;
      }
      .age {
        select {
          text-align: center;
          margin-left: 1.5rem;
          border: 2px solid $cyanWhite;
          padding: 0 1rem;
          border-radius: 0.5rem;
          &:focus {
            border: 2px solid $cyanWhite;
          }
        }
      }
    }
  }
  .device-lists {
    list-style: none;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      i {
        font-size: 1.3rem;
      }
      div {
        margin-left: 1.5rem;
        font-size: 0.9rem;
        p {
          margin-bottom: 0;
          span {
            margin-left: 0.5rem;
            display: inline-block;
          }
        }
      }
    }
  }
  .multi-photos {
    margin: 1rem 0;
    border: 1px solid $cyan;
    border-radius: 0.5rem;
    text-align: center;
    height: 10rem;
    width: 100%;
    cursor: pointer;
    span {
      position: relative;
      top: 40%;
      i {
        font-size: 90%;
        margin-left: 0.5rem;
      }
    }
  }
}
