aside.sidebar {
  & > div {
    border-radius: 0.5rem;
    width: 360px;
    .header-sidebar {
      padding: 1rem 1.7rem 1.7rem;
      border-bottom: 1px solid $cyan;
      padding-bottom: 0.3rem;
      h4 {
        text-transform: capitalize;
        margin-bottom: 0;
      }
      small {
        font-size: 1rem;
      }
    }
    .body-sidebar {
      list-style: none;
      padding: 1rem 0;
      margin-bottom: 0;
      li {
        cursor: pointer;
        a {
          display: block;
          text-transform: capitalize;
          color: $cyan;
          text-decoration: none;
          padding: 1.12rem 1.7rem;
          border: 1px solid transparent;
          border-radius: 0.5rem;
          font-weight: 500;
          font-size: 1.12rem;
          display: flex;
          justify-content: space-between;
          span {
            color: $yellow;
          }
          &:hover,
          &.active {
            color: darken($color: $cyan, $amount: 10);
            border: 1px solid $cyanWhite;
          }
          &.active {
            position: relative;
            overflow: hidden;
            &::before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              height: 100%;
              width: 1rem;
              background-image: linear-gradient(
                to bottom,
                #e75852,
                #e23d6e,
                #cd308d,
                #a738ab,
                #6548c2
              );
            }
          }
          .custom-control-input:focus:not(:checked) ~ .custom-control-label {
            &::before {
              border-color: transparentize($color: $green, $amount: 0.3);
              box-shadow: 0 0 0 0.2rem
                transparentize($color: $green, $amount: 0.75);
            }
          }
          .custom-control-input:checked ~ .custom-control-label {
            &::before {
              background-color: $green;
              border-color: transparentize($color: $green, $amount: 0.3);
              box-shadow: 0 0 0 0.2rem
                transparentize($color: $green, $amount: 0.75);
            }
          }
        }
      }
    }
    .footer-sidebar {
      text-align: center;
    }
  }
  @media screen and (max-width: 991.98px) {
    & > div {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
