//fonts
$roboto: 'Roboto', sans-serif;

//colors
$white: #fff;
$cyan: #000342;
$cyanWhite: #e9eafc;
$mutedWhite: #f3f4f9;
$mutedDark: #9b9b9b;
$fontColor: #000342;
$green: #31d64a;
$red: #ff0000;
$yellow: #ddc858;
$messageIn: #e9eafc;
$messageOut: #e9fcec;
$inputBorder: #9295a0;

//dark theme
$darkMain: #0d132e;
$darkSecondary: #171c35;
$darkBorder: #434652;
$darkTransparentRed: #ffd3d3;
$darkBg: #121212;
$darkInput: #d8d8d8;
